backend/node_modules/
backend/src/.DS_Store
.DS_Store
backend/coverage/lcov-report
secrets/
backend/logs/*.log
ai-module/static/uploads
ai-module/app/__pycache__/
ai-module/app/.pytest_cache
ai-module/data/predictions.csv
ai-module/data/labels.csv
ai-module/tests/__pycache__
.coverage
ai-module/htmlcov/
ai-module/model/resnet50_best.h5
ai-module/.pytest_cache
keycloak-custom/stone-guide-realm.json
k8s/secrets.yaml
k8s/frontend-secrets.yaml
backend/.env
backend/.env.test
